html, body {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column
}

#message {
  display: flex;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: #33cccc;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px black dotted;
  border-radius: 50%;
  background-color: white;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bombs.svg");
  border: 1px black dotted;
}

div.hidden {
  background: #fcfcfc;
}

div.hidden:hover {
  background: #99ccff;
}

div.marked, div.marked:hover {
  background: no-repeat center/50% url("images/flag.svg");
  border: 1px black solid;
}
